<%= form_with model: @review do |f| %>
      <div class="mb-3">
        <%= f.label :rating, class: "form-label" %>
        <%= f.number_field :rating, class: "form-control", in: 1..5, required: true %>
      </div>
      <div class="mb-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, autocomplete: "title", class: "form-control", required: true, maxlength: 100 %>
      </div>
      <div class="mb-3">
        <%= f.label :content, class: "form-label" %>
        <%= f.text_area :content, autocomplete: "content", class: "form-control", maxlength: 1000 %>
      </div>
      <div class="mb-3">
        <%= f.submit "Submit Review", class: "btn btn-primary"%>
      </div>
<% end %>

