<div class="container mt-5">
  <div class="d-flex mb-2">
    <div>
      <h1>
        <%= @review.title %>
      </h1>
    </div>
    <div class="ms-auto">
      <%= link_to "Back", :back, class: "btn btn-primary"%>
    </div>
  </div>

  <div class="content-section">
    <h5>
      <b>Created on:</b> <%= @review.created_at.strftime("%B %d, %Y at %-I:%M %p") %> by <b><%= @review.author.username %></b></br>
      <b>Rating: </b> <%= @review.rating %>
    </h5>
    <%= @review.content %>
    </p>
  </div>
</div>
