<div class="container mt-5">
  <div class="d-flex">

    <div>
      <h1>
        <%= @review.title %>
      </h1>
    </div>

    <div class="ms-auto">
      <%= link_to "Back", :back, class: "btn btn-primary"%>
    </div>
  </div>
  <p class="fs-5">
  <b>Created on:</b> <%= @review.created_at.strftime("%B %d, %Y at %-I:%M %p") %> by <b><%= @review.author.username %></b></br>
  <b>Rating: </b> <%= @review.rating %>
  </p>
  <%= @review.content %>
  </p>
</div>
