<div class= "container mt-5">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-subtitle mb-3 text-muted">
        <b>Written by:</b> <%= @reply.author.username %></br>
        <b>Written on:</b> <%= @reply.created_at.strftime("%B %d, %Y at %-I:%M %p") %> 
      </h5>
      <p class="card-text">
      <%= @reply.content %>
      </p>
      <% if user_signed_in? %>
        <% if @reply.author_id == current_user.id %>
          <%= link_to "Delete reply", discussion_reply_path(book_id: @reply.discussion.gbook_id, discussion_discussion_id: @reply.discussion_id, reply_id: @reply.id), method: :delete, data: {confirm: 'Are you sure you want to delete this reply?'}, class: "btn btn-danger" %>
          <%= link_to "Edit reply", edit_discussion_reply_path(book_id: @reply.discussion.gbook_id, discussion_discussion_id: @reply.discussion_id, reply_id: @reply.id), class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <%= link_to "View Book", view_path(book_id: @reply.discussion.gbook_id), class: "btn btn-primary" %>
      <%= link_to "Back", :back, class: "btn btn-light"%>
    </div>
  </div>
</div>

