<div class="container mt-5">
  <div class="content-section">
    <h1>Search Books</h1>
    <%= form_with url: "/search_books", method: :get do |form| %>
      <div class="mb-3">
        <%= form.text_field :query, placeholder: "Search for something", class: "form-control" %>
      </div>
      <div class="d-grid gap-2 mb-3">
        <%= form.submit "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <% unless @books.nil? %>
    <% unless @books.empty? %>
      <% @books.each do |book| %>
        <div class="card mb-3">
          <div class="card-body">
            <p class="card-text">
            <div class="row">
              <div class="col-1">
                <% unless book['volumeInfo']['imageLinks'].nil? %>
                  <% unless book['volumeInfo']['imageLinks']['thumbnail'].nil? %>
                    <%= image_tag book["volumeInfo"]["imageLinks"]["thumbnail"], style: "width: 100%" %>
                  <% end %>
                <% else %>
                  <h5>No image found.</h5>
                <% end %>
              </div>
              <div class="col">
                <h5 class="card-title">
                  <%= book['volumeInfo']['title'] %>
                </h5>
                <%= truncate book['volumeInfo']['description'], length: 500, separator: /\s/ %>
              </div>
            </div>
            </p>
            <%= link_to "View Book", view_path(book_id: book['id']), class: "btn btn-primary" %>
            <%= link_to "Write a Review", new_review_path(book_id: book["id"]), class: "btn btn-primary" %>
            <%= link_to "Read Reviews", review_index_path(book_id: book["id"]), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    <% else %>
    <% end %>
  <% end %>
</div>
