<div class="container mt-5">
  <div class="row">
    <div class="col-2">
      <%= image_tag @book_info["volumeInfo"]["imageLinks"]["thumbnail"], style: "width: 100%" %>
      <h5 class="mt-3">
        <%= @average_rating %>
      </h5>
    </div>
    <div class="col">
      <h1>
        <%= @book_info["volumeInfo"]["title"] %>
      </h1>
      <h2>
        By: <%= @book_info["volumeInfo"]["authors"].join(', ') %>
      </h2>

      <div class="mt-4">
        <div class="d-grid gap-2">
          <%= link_to "Write a review for this book", new_review_path(:book_id => @book_info["id"]), class: "btn btn-primary" %>
          <%= link_to "Read all reviews for this book", review_index_path(:book_id => @book_info["id"]), class: "btn btn-primary" %>
        </div>
      </div>

      <% @book_reviews.each do |book_review| %>
        <div class="card">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
