<div class="container mt-5">
  <div class="row">
    <div class="col-2">
      <%= image_tag @book_info["volumeInfo"]["imageLinks"]["thumbnail"], style: "width: 100%" %>
    </div>
    <div class="col">
      <h1>
        <%= @book_info["volumeInfo"]["title"] %>
      </h1>
      <h2>
        By: <%= @book_info["volumeInfo"]["authors"].join(', ') %>
      </h2>

      <div class="mt-4">
        <div class="d-grid gap-2">
          <%= link_to "Write a review for this book", new_review_path(:book_id => @book_info["id"]), class: "btn btn-primary" %>
          <%= link_to "Read all reviews for this book", review_index_path(:book_id => @book_info["id"]), class: "btn btn-primary" %>
        </div>
      </div>

    </div>
  </div>
</div>
