<div class="container mt-5"> 
  <div class="row">
    <div class="col-2">
      <%= image_tag @book_info["volumeInfo"]["imageLinks"]["thumbnail"], style: "width: 100%" %>
      <h5 class="mt-3">
        <% if @average_rating == 0 %>
          No ratings yet.
        <% else %>
          Average rating: <%= @average_rating %>
      <% end %>
      </h5>

    </div>
    <div class="col">
      <h1>
        <%= @book_info["volumeInfo"]["title"] %>
      </h1>
      <h2>
        By: <%= @book_info["volumeInfo"]["authors"].join(', ') %>
      </h2>
 
      <div class="mt-4">
        <div class="d-grid gap-2">
          <%= link_to "Write a review for this book", new_review_path(book_id: @book_info["id"]), class: "btn btn-primary" %>
          <%= link_to "Read all reviews for this book", review_index_path(book_id: @book_info["id"]), class: "btn btn-primary" %>
        </div>
      </div>

      <div class="mt-5">
        <% unless @book_reviews.empty? %>
          <% @book_reviews.each do |book_review| %>
            <div class="card mb-3">
              <div class="card-body">
                <h3 class="card-title"> 
                  <%= book_review.title %>
                </h3>
                <p class="card-text">
                <%= book_review.content %>
                </p>
                <%= link_to "View Review", review_path(book_id: @book_info["id"], id: book_review.id), class: "btn btn-primary" %>
              </div>
            </div>
          <% end %>
        <% else %>
          <h1 class="text-center">
            No reviews yet.
          </h1>
        <% end %>
      </div>

    </div>
  </div>
</div>
