<div class="container mt-5">
    <div class="d-flex mb-2">
      <div>
        <h1>All Discussions</h1>
        <h5 class="text-muted">Book: <%= @book_name %></h5>
      </div>
      <div class="ms-auto">
        <%= link_to "View Book", view_path(book_id: @book_id), class: "btn btn-primary"%>
        <%= link_to "Back", :back, class: "btn btn-light"%>
      </div>
    </div>
  <div class="mt-4">
    <% unless @book_discussions.empty? %>
      <% @book_discussions.each do |discussion| %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex">
              <div>
                <h3 class="card-title"> 
                  <%= discussion.title %>
                </h3>
                <h5 class="card-subtitle mb-2 text-muted">
                  Started by: <%= discussion.author.username %>
                </h5>
              </div>
              <div class="ms-auto">
                <h5 class="text-muted">
                  <%= discussion.created_at.strftime("%B %d, %Y at %-I:%M %p") %> 
                </h5>
              </div>
            </div>
            <p class="card-text">
            <%= discussion.content %>
            </p>
            <%= link_to "View Discussion", discussion_path(book_id: @book_info["id"], id: discussion.id), class: "btn btn-primary" %>
            <% if user_signed_in? %>
              <% if discussion.author_id == current_user.id %>
                <%= link_to "Delete Discussion", discussion_path(book_id: @book_info["id"], id: discussion.id), method: :delete, data: {confirm: 'Are you sure you want to delete this discussion?'}, class: "btn btn-danger" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <h1 class="text-center">
        No discussions yet.
      </h1>
    <% end %>
  </div>
</div>

